#content{
    text-align: center;
    border-left: 1px dotted #000;
    border-right: 1px dotted #000;
    width: 80%;
    margin:auto;
    
}
#wenku{
    text-align: left;
    padding: 10px;
}
#title{
    font-weight: 900;
    font-size: 24px;
}

.top{
    text-align: center;
    width: 80%;
    margin:0 auto;
}